.Content {
    background-color: white;
    margin-top: 32px;
    padding-top: 32px;
    padding-left: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    /* or 70px */

    letter-spacing: -0.5px;
    border-radius: 8px;
    color: #000000;
    box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.25);
    text-decoration: underline;

    min-width: 500px;
}

.siteLayout {
    padding: 0 50px;
    background-color: rgba(166, 141, 96, 1);

}

.Cards {
    padding-top: 32px;
}