.item-container {
  background-color: white;
  padding: 10px;
  width: 90%;
  margin: 20px auto;
  box-shadow: 1px 1px 10px rgb(189, 189, 189);
}
.item-panel {
}
.small-recipe-img {
  text-align: center;
}
.small-recipe-img > img {
  height: 100px;
}

.small-recipe-box-text {
  font-weight: bold;
  text-align: center;
}
