.card-frame {
  padding: 10px;
  height: 300px;
  width: 80vw;
  margin: 0 auto;
  border: 1px solid white;
}
.head {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  gap: 10px;
}
.card-frame:hover {
  border: 1px solid #eaf2ce;
}

.ingredient-card-title  {
  font-weight: bold;
  font-size: 30px;
}
.graph {
  height: 200px;
  text-align: right;
}

.row{
  display: flex;
}
@media (max-width: 800px) {
  .head {
    flex-direction: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card-frame {
    height: auto;
    padding: none;
  }
  .graph {
    width: 80vw;
  }
}
.ingredient-card-title:hover {
  cursor: pointer;
  color: #a68d60;
}
.body {
}
.line {
  height: 1px;
  box-shadow: #a68d60 0px 1px 1px;
}
.boxbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 16px;
  font-weight: 600;
}

.img{
  border-radius: 5px;
  height: 200px;
  max-width: 100%;
  cursor: pointer;
}
.img:hover{
  transition-duration: 1s;
  
  scale: 1.1;
}