.container {
    height: 100vh;
    width: 100vw;
    background: rgba(166, 141, 96, 1);
    text-align: center;
    min-width: 500px;
}

.Copyright {
    min-height: 100%;
    color: #EAF2CE;
}

.sideImg {
    background-image: url("https://placeimg.com/600/300/any");
    background-size: cover;
    height: 100%;
}

.main {
    background: rgba(166, 141, 96, 1);
    height: 100%;
    width: 100vw;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    color: black;
    text-align: center;

}